<!DOCTYPE html>
<html>
<head>
    <title>Graph</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div id="graph"></div>
    <div id="graph2"></div>
   <script>
       $(document).ready(function() {
            updateGraph();

            function updateGraph() {
                $.getJSON('/data', function(data) {
                        var x = data.labels;
                        var y = data.values;
                        var y2 = data.values2
                        var trace = {
                            x: x,
                            y: y,
                            type: 'line'
                        };
                        var trace1 = {
                            x: x,
                            y: y, 
                            type: 'line'
                        }
                        var trace2 = {
                            x: labels,
                            y: y2,
                            type: 'line',
                            name: 'Colonne supplémentaire'
                        };
                        
                        var layout = {
                            title: 'Cardan intérieur',
                            xaxis: { title: 'Temps [ms]' },
                            yaxis: { title: 'Angle [°]' }
                        };
                        
                        var layout2 = {
                            title: 'Cardan exterieur',
                            xaxis: {
                                title: 'Temps [ms]'
                            },
                            yaxis: {
                                title: 'Angle [°]'
                            }
                        };


                        var graphData = [trace];
                        var graphData2 = [trace2]

                        Plotly.newPlot('graph', graphData, layout);
                        Plotly.newPlot('graph2', graphData2, layout2)
                });
            }
            
            setInterval(updateGraph, 1000);
        });
   </script>

<a href="\demmarreMesure"><button id="demarrerMesure">Démarrer Mesure</button></a>
<a href="\stopMesure"><button id="stopMesure">Stop Mesure</button></a>
<a href="\telecharger"><button id="telecharger">Télécharger</button></a>
</body>
</html>
